<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block head_title %} TryDjango 1.11 {% endblock %}</title>
    {% include 'snippets/css.html' %}
</head>
<body>
{% include 'snippets/nav.html' %}

<div class="container">
    {% block contentname %}
         Block SUPER Content
    {% endblock contentname %}
</div>


{% include 'snippets/js.html' %}
</body>
</html>